.list {
  overflow-x: hidden;
  height: 100%;
  max-height: 300px;
  list-style-type: none;
  padding-left: 0;
  &__item {
    border-bottom: 1px solid #ccbaba;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}