.publisher {
  padding: 10px 40px;
  color: #fff;
  overflow: hidden;
  &__overflow {
    overflow-x: hidden;
    height: 100%;
    max-height: 120px;
  }
  &__li {
    padding-left: 57px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 300px;
    margin-left: -40px;

    &:hover {
      background: #20a8d8;
    }
    &_active {
      //TODO refactor
      padding-left: 57px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      background: #20a8d8;
      margin-top: 10px;
      width: 300px;
      margin-left: -40px;
    }
  }
  &__item {
    color: #000;
  }
}